<template>
  <div class="liste">
    <h1>{{msg}}</h1>
    <h2>Liste des produits</h2>
    
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Nom</th>
          <th>Origine</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data,index) in produits" v-bind:key='index'>
          <td>{{data.Code}}</td>
          <td>{{data.Nom}}</td>
          <td>{{data.Origine}}</td>
          <td><img src="../assets/delete.png" v-on:click="remove(index)"/></td>
        </tr>
      </tbody>
    </table>

    <p v-if="produits.length >= 1">Nombre de produits dans le tableau : {{produits.length}}</p>
    <p v-else>Pas de produits dans la base !</p>

  </div>
</template>

<script>
export default {
  name: "Liste",
  props: {
    msg: String
  },
  data() {
    return {
      soustitre: "Liste des produits",
      produits: []
    };
  },
  created() {
    this.produits = this.$store.getters.laListeProduits
  },
  methods : {
    remove(i) {
        this.$store.commit('DELETE_PRODUIT',i);
    }
  }
};
</script>

<style scoped>
</style>
