<template>
  <div class="recherche">
    <h1>{{msg}}</h1>
    <h2>Recherche d'un produit</h2>

    <div class="container">
      <form @submit.prevent="addItem">
        <ul class="input-list">
          <li>
            <label for="code">Code barre à 13 chiffres</label>
            <input class="list-entry" v-model="code" placeholder="Code barre" type="number" required />
          </li>     
        </ul>
        <input type="submit" variant="primary" />
     </form>
    </div> 
  </div>
</template>

<script>
 import axios from 'axios'

 export default {
  name: "Recherche",
  props: {
    msg: String
  },
  data() {
    return {
      code: ''
    }
  },
  methods: {
    async addItem() {
      // Pour un test : 3036811460259
      await axios.get(`https://fr.openfoodfacts.org/api/v0/produit/${this.code}.json`)
        .then((response) => {
          if (response.data.status) {
            let product =
              {
                "Code": response.data.product.code,
                "Nom": response.data.product.product_name,
                "Origine": response.data.product.origins
              };

            this.$store.commit('SET_PRODUIT', product);
            this.$router.push({ name: 'liste' });
          }
        });
      }
    }
};
</script>

<style scoped>
</style>