#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0px;
  }

  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }

  .topnav {
    background-color: rgb(0,18,119);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: auto;
    margin: 0 auto;
    position: relative;
  }

  table * {
    position: relative;
  }

  table td, table th {
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid black;
  }

  table thead tr {
    height: 30px;
    background: #36304a;
  }

  table tbody tr {
    height: 50px;
  }

  table tbody tr:last-child {
    border: 0;
  }

  table td, table th {
    text-align: left;
  }

  table td.l, table th.l {
    text-align: right;
  }

  table td.c, table th.c {
    text-align: center;
  }

  table td.r, table th.r {
    text-align: center;
  }

  .container {
    max-width: 480px;
    margin: 0 auto;
  }
  
  .input-list {
    list-style: none;
    padding-left: 0;
  }
  
  .input-list > li {
    margin-bottom: 20px;
    border: 1px solid red;
    padding: 20px;
  }
  
  .list-entry {
    width: 240px;
    margin-left: 9px;
    padding-left: 9px;
    font-size: 18px;
  }
  
  input[type="submit"] {
    padding: 9px;
    font-size: 18px;
  }