<template>
  <div id="app">
    <nav class="topnav">
      <router-link to="/">Accueil</router-link>
      <router-link to="/liste">Liste</router-link>
      <router-link to="/recherche">Recherche</router-link>
      <router-link to="/apropos">A propos</router-link>
    </nav>

    <img alt="Vue logo" src="./assets/logo.png" />
    <Accueil msg="OpenFood VueJS/App"/>
    
    <router-view />
  </div>

</template>

<script>
import Accueil from './components/Accueil.vue'

export default {
  name: 'App',
  components: {
    Accueil
  }
}
</script>

<style src="./assets/main.css">
</style>
